@import url("https://db.onlinewebfonts.com/c/62718c6d983eabf0650437464be08d15?family=Hobeaux+Regular");
.App {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.hover:hover {
  background-color: #0394C3 !important;
}






